body {
  margin-top: 25px;
  font-family: 'Raleway', sans-serif;
  background-color: white;

}

.imagesCircle  {

  width: 200px; height: 200px;

}

  .borderCircle {

    border-color: #424242;
    border-width: 3px;
    border-style: solid;
    border-radius: 50%;
  }

 .cardMM {
    margin-right: 20px ;
    
    padding: 0;


  }

  .newTEXT {

    font-size: 15;

  }

